################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Github/v15/.suo
*.db
*.suo
*.objs
*.opendb
*.json
*.sqlite
